<footer id="gtco-footer" role="contentinfo">
    <div class="gtco-container">
        <div class="row row-p	b-md">
            <div class="col-md-6">
                <div class="gtco-widget">
                    <h3>Hakkımızda</h3>
                    <p>
                        Tüm marka ve model  beyaz eşyalarda garantili servis ve bakım hizmeti sunan Halitler Teknik Servis, 2000 yılından beri sizlere güvenle hizmet vermektedir.
                        2000 yılında Eyüp çevresinde başladığımız beyaz eşya servis, tamir ve bakım hizmetimize, bugün İstanbul genelinde sürdürmekteyiz.
                    </p>
                </div>
            </div>
            <div class="col-md-2 col-md-push-1">
                <div class="gtco-widget">
                    <h3>Alt Menu</h3>
                    <ul class="gtco-footer-links">
                        <li><a href="@Url.Action("Anasayfa","MusteriHome")">Anasayfa</a></li>
                        <li><a href="@Url.Action("Hakkimizda","MusteriHome")">Hakkımızda</a></li>
                        <li><a href="@Url.Action("Arizalarim","MusteriHome")">Arıza Takip</a></li>
                        <li><a href="@Url.Action("ArizaKayit","MusteriHome")">Arıza Oluştur</a></li>
                        <li><a href="@Url.Action("Iletisim","MusteriHome")">İletişim</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-md-push-1">
                <div class="gtco-widget">
                    <h3>Bize ulaşın</h3>
                    <ul class="gtco-quick-contact">
                        <li><a href="#"><i class="icon-phone"></i> 444 11 22</a></li>
                        <li><a href="#"><i class="icon-mail2"></i> ozbeyteknikservis@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

