@model TeknikServis.Entity.ViewModels.ArizaViewModel

@{
    ViewBag.Title = "Detaylar";
    Layout = "~/Views/Shared/_LayoutIndexAdmin.cshtml";
}

@Html.ValidationSummary()
@using (Html.BeginForm("Detaylar", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" value="@Model.ArizaId" />
    <div>
        <hr />
        <dl class="dl-horizontal">
       

            <dt>
                @Html.DisplayNameFor(model => model.UyeAdı)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UyeAdı)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LocationX)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LocationX)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LocationY)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LocationY)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TelNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TelNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Durum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Durum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mesaj)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mesaj)
            </dd>

        </dl>
    </div>
}
