@model TeknikServis.Entity.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutMusteriGenel.cshtml";
}

<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(/images/img_bg_2.jpg)">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">
                <div class="row row-mt-15em">
                    <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                        <h1>ÖZBEY<br /> Teknik Servis <br /> 444 11 22 <br /> </h1>
                    </div>
                    <div class="col-md-5 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
                        <div class="form-wrap">
                            <div class="tab">
                                <div class="tab-content">
                                    <span class="text-danger">
                                        @Html.ValidationSummary()
                                    </span>
                                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="tab-content-inner active" data-content="signup">
                                            <h3>Kayıt Ol</h3>
                                            <form action="#">
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        @Html.LabelFor(x => x.Ad, new { @class = "col-sm-2 control-label" })
                                                        @Html.TextBoxFor(x => x.Ad, new { @class = "form-control", placeholder = "Adınız" })
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        @Html.LabelFor(x => x.Soyad, new { @class = "col-sm-2 control-label" })
                                                        @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control", placeholder = "Soyadınız" })
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        @Html.LabelFor(x => x.Email, new { @class = "col-sm-2 control-label" })
                                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email adresiniz", type = "email" })
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        @Html.LabelFor(x => x.KullaniciAdi, new { @class = "col-sm-2 control-label" })
                                                        @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control", placeholder = "Kullanıcı Adınız" })
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        @Html.LabelFor(x => x.Sifre, new { @class = "col-sm-2 control-label" })
                                                        @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control", type = "password", placeholder = "Şifreniz" })
                                                        @Html.ValidationMessageFor(x => x.Sifre)
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        @Html.LabelFor(x => x.SifreTekrar, new { @class = "col-sm-2 control-label" })
                                                        @Html.TextBoxFor(x => x.SifreTekrar, new { @class = "form-control", type = "password", placeholder = "Şifre Tekrar" })
                                                        <span class="text-danger">@Html.ValidationMessageFor(x => x.SifreTekrar)</span>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <input type="submit" class="btn btn-primary btn-block" value="Kayıt Ol">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-12" style="text-align:right">
                                                        <label for="date-start"><a href="@Url.Action("Login","Account")">Giriş Yap</a></label><br />
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(/images/img_bg_2.jpg)"></header>